---
# yaml-language-server: $schema=https://raw.githubusercontent.com/cloudnative-pg/charts/refs/heads/main/charts/cluster/values.schema.json
nameOverride: &name "postgres"
fullnameOverride: *name
type: postgresql
version:
  postgresql: "17.5"
mode: standalone
recovery:
  method: object_store
  clusterName: *name
  endpointURL: "{{ .minio_endpoint }}"
  provider: s3
  s3:
    region: "{{ .minio_region }}"
    bucket: "{{ .backblaze_bucket }}-restore"
    path: "/"
    accessKey: "{{ .minio_username }}"
    secretKey: "{{ .minio_password }}"
backups:
  enabled: true
  endpointURL: "{{ .minio_endpoint }}"
  provider: s3
  s3:
    region: "{{ .minio_region }}"
    bucket: "{{ .backblaze_bucket }}"
    path: "/"
    accessKey: "{{ .minio_username }}"
    secretKey: "{{ .minio_password }}"
  wal:
    compression: gzip
    encryption: ''
    maxParallel: 4
  data:
    compression: gzip
    encryption: ''
    jobs: 2
  scheduledBackups:
  - name: daily-backup
    schedule: "${POSTGRES_BACKUP_SCHEDULE:=0 0 16 * * *}"
    backupOwnerReference: self
    method: barmanObjectStore
  retentionPolicy: "30d"
cluster:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:17.5
  priorityClassName: system-cluster-critical
  storage:
    size: ${POSTGRES_STORAGE:=10Gi}
    storageClass: longhorn
  resources:
    requests:
      cpu: ${POSTGRES_REQUESTS_CPU}
      memory: ${POSTGRES_REQUESTS_MEMORY}
    limits:
      cpu: ${POSTGRES_LIMITS_CPU}
      memory: ${POSTGRES_LIMITS_MEMORY}
  logLevel: "info"
  affinity:
    topologyKey: kubernetes.io/hostname
  enableSuperuserAccess: true
  superuserSecret: "postgres-superuser"
  roles:
  - name: ${CLUSTER_CNAME}
    ensure: present
    login: true
    superuser: true
    passwordSecret:
      name: postgres-user
  - name: authentik
    ensure: present
    login: true
    superuser: false
    passwordSecret:
      name: authentik-postgres
  monitoring:
    enabled: true
    podMonitor:
      enabled: true
    disableDefaultQueries: false
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: "${POSTGRES_SHARED_BUFFERS}"
      pg_stat_statements.max: "10000"
      pg_stat_statements.track: all
      wal_sender_timeout: "120s"
      wal_receiver_timeout: "120s"
      tcp_keepalives_idle: "10"
      tcp_keepalives_interval: "10"
      tcp_keepalives_count: "3"
    pg_hba: []
    pg_ident: []
    shared_preload_libraries: []
    ldap: {}
  serviceAccountTemplate: {}
  additionalLabels: {}
  annotations: {}
imageCatalog:
  create: true
  images: []
poolers: []
