---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
    name: cloudflare-default-domain
    annotations:
      reloader.stakater.com/auto: "true"
spec:
    itemPath: "#{ cloudflare_default_domain_secret }#"
