# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ${APP}
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  # the config can take a while to restore
  maxHistory: 3
  interval: 1h
  timeout: 10m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: false
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      *app :
        containers:
          *app :
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0-trixie@sha256:2bce660b767cb62c8c0ea020e94a230093be63dbd6af4f21b044960517a5842d
            env:
              VALKEY_PORT: &port 6379
    persistence:
      data:
        accessMode: ReadWriteOnce
        size: 4Gi
        storageClass: longhorn-local
    service:
      *app :
        controller: *app
        ports:
          *app :
            port: *port
