---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app chrony
  namespace: &namespace sgc
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/sgc/home/chrony
  prune: true
  dependsOn:
    - name: sgc-secrets
      namespace: *namespace
    - name: sgc-dns-records
      namespace: *namespace
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m

---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app matter
  namespace: &namespace sgc
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/sgc/home/matter
  prune: true
  force: true
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: sgc-secrets
      namespace: *namespace
    - name: sgc-dns-records
      namespace: *namespace
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  components:
    - ../../../../components/volsync
    - ../../../../components/tailscale
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 4Gi

---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app mosquitto
  namespace: &namespace sgc
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/sgc/home/mosquitto
  prune: true
  dependsOn:
    - name: sgc-secrets
      namespace: *namespace
    - name: sgc-dns-records
      namespace: *namespace
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  components:
    - ../../../../components/tailscale
  postBuild:
    substitute:
      APP: *app

---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app home-assistant
  namespace: &namespace sgc
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/sgc/home/home-assistant
  prune: true
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: sgc-secrets
      namespace: *namespace
    - name: sgc-dns-records
      namespace: *namespace
    - name: mosquitto
      namespace: *namespace
    - name: matter
      namespace: *namespace
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  components:
    - ../../../../components/volsync
    - ../../../../components/tailscale
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 20Gi

---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app nodered
  namespace: &namespace sgc
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/sgc/home/nodered
  prune: true
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: sgc-secrets
      namespace: *namespace
    - name: sgc-dns-records
      namespace: *namespace
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  components:
    - ../../../../components/volsync
    - ../../../../components/tailscale
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 1Gi

---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app network-ups-tools
  namespace: &namespace sgc
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/sgc/home/nut
  prune: true
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: sgc-secrets
      namespace: *namespace
    - name: sgc-dns-records
      namespace: *namespace
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  components:
    - ../../../../components/volsync
    - ../../../../components/tailscale
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 1Gi

# ---
# # yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app homebridge
#   namespace: &namespace sgc
# spec:
#   targetNamespace: *namespace
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
#   path: ./kubernetes/apps/sgc/home/homebridge
#   prune: true
#   dependsOn:
#     - name: volsync
#       namespace: volsync-system
#     - name: sgc-secrets
#       namespace: *namespace
    # - name: sgc-dns-records
    #   namespace: *namespace
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#     namespace: flux-system
#   wait: true
#   interval: 30m
#   retryInterval: 1m
#   timeout: 5m
#   components:
#     - ../../../../components/volsync
#   postBuild:
#     substitute:
#       APP: *app
#       VOLSYNC_CAPACITY: 10Gi
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app iptv-proxy
  namespace: &namespace sgc
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/sgc/home/iptv-proxy
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: volsync
      namespace: volsync-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  components:
    - ../../../../components/volsync
    - ../../../../components/tailscale
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
      VOLSYNC_ACCESSMODES: ReadWriteMany
