---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name zitadel-login-client
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  refreshPolicy: Periodic
  refreshInterval: 4m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: login-client
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        annotations:
          reloader.stakater.com/auto: "true"
      data:
        pat: "{{ .pat }}"
  dataFrom:
    - extract:
        key: *name
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name zitadel-machine-pat
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  refreshPolicy: Periodic
  refreshInterval: 4m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        annotations:
          reloader.stakater.com/auto: "true"
      data:
        pat: "{{ .pat }}"
  dataFrom:
    - extract:
        key: *name
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name zitadel-machine
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  refreshPolicy: Periodic
  refreshInterval: 4m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        annotations:
          reloader.stakater.com/auto: "true"
      data:
        zitadel-machine.json: "{{ .zitadel_machine_json }}"
  dataFrom:
    - extract:
        key: *name
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
