---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cloudbeaver
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  interval: 1h
  timeout: 10m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: false # true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  dependsOn: []
  values:
    controllers:
      *app :
        enabled: true
        pod:
          restartPolicy: Always
          terminationGracePeriodSeconds: 30
        containers:
          *app :
            image:
              repository: dbeaver/cloudbeaver
              tag: "25.3.0@sha256:4096459268c7c211c7ad829cbd91be2a23d210d8aa499370544359d23dc5b4df"
              pullPolicy: IfNotPresent
            env:
              TZ: "${TIMEZONE}"
              CLOUDBEAVER_APP_ANONYMOUS_ACCESS_ENABLED: "true"
              CLOUDBEAVER_APP_SUPPORTS_CUSTOM_CONNECTIONS: "true"
              CLOUDBEAVER_APP_READ_ONLY_CONNECTION_INFO: "true"
              CLOUDBEAVER_WEB_SERVER_PORT: "8978"
              CLOUDBEAVER_WORKSPACE_LOCATION: "/data"
              CLOUDBEAVER_CORE_THEMING_THEME: "dark"
              CLOUDBEAVER_APP_GRANT_CONNECTIONS_ACCESS_TO_ANONYMOUS_TEAM: "true"
              CLOUDBEAVER_WEB_SERVER_NAME: &server-name "CloudBeaver on ${CLUSTER_TITLE}"
              CLOUDBEAVER_WEB_SERVER_URL: &server-url "https://sql.${CLUSTER_DOMAIN}/"
              CLOUDBEAVER_APP_ADMIN_CREDENTIALS_SAVE_ENABLED: "false"
              CLOUDBEAVER_APP_PUBLIC_CREDENTIALS_SAVE_ENABLED: "false"
              CB_SERVER_NAME:  *server-name
              CB_SERVER_URL: *server-url
              # auth is handled via traefik
              CB_ADMIN_NAME: cbadmin
              CB_ADMIN_PASSWORD: cbadmin
            securityContext:
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: 100m
                memory: 200Mi
              limits:
                cpu: 500m
                memory: 1Gi
    serviceAccount:
      *app : {}
    persistence:
      config:
        type: secret
        name: ${APP}-config
        defaultMode: 493
        globalMounts:
          - path: /opt/cloudbeaver/workspace/.dbeaver
      cloudbeaver:
        type: emptyDir
        globalMounts:
          - path: /opt/cloudbeaver/workspace
    service:
      *app :
        controller: *app
        type: ClusterIP
        ports:
          http:
            port: &port 8978
    route:
      internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "sql.${CLUSTER_DOMAIN}"
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: *app
                port: *port
