---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tdarr-node
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m
  values:
    controllers:
      *app :
        type: deployment
        replicas: 3
        containers:
          app:
            image:
              repository: ghcr.io/haveagitgat/tdarr_node
              tag: 2.58.02@sha256:62e14509bc19dea9b6f5dc85d0942163b6fa240d780a53eb590d894d46c9e1f2
            env:
              TZ: ${TIMEZONE}
              PUID: 1000
              PGID: 1000
              serverURL: http://tdarr-server.${TAILSCALE_DOMAIN}:8266
              inContainer: true
              nodeName:
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
                gpu.intel.com/i915: 2
              limits:
                memory: 2Gi
                gpu.intel.com/i915: 2
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                - matchExpressions:
                  - key: intel.feature.node.kubernetes.io/gpu
                    operator: In
                    values:
                    - "true"
    defaultPodOptions:
      securityContext:
        # Let the image entrypoint (s6) run as root and drop to PUID/PGID itself; forcing
        # runAsUser prevented it from setting supplemental groups and triggered
        # "s6-applyuidgid: fatal: unable to set supplementary group list: Operation not permitted".
        supplementalGroups: [568]
        # seccompProfile: { type: RuntimeDefault }
    persistence:
      media:
        existingClaim: truenas-media
        globalMounts:
          - path: /media/
