---
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: tdarr-node-http
spec:
  interval: 5m
  module: http_2xx
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - http://tdarr-node.${CLUSTER_CNAME}.svc.cluster.local:8266/api/v2/nodes/version-check
