---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app certificates
  namespace: &namespace network
  labels:
    app.kubernetes.io/name: *app
    driscoll.dev/name: *app
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
      driscoll.dev/name: *app
  dependsOn:
    - name: cert-issuers
      namespace: cert-manager
  path: ./kubernetes/apps/network/certificates
  prune: true
  wait: true
  force: false # true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  healthChecks:
    - apiVersion: cert-manager.io/v1
      kind: Certificate
      name: "le-production"
      namespace: *namespace
    - apiVersion: cert-manager.io/v1
      kind: Certificate
      name: "le-staging"
      namespace: *namespace
    - apiVersion: cert-manager.io/v1
      kind: Certificate
      name: cluster-certificate
      namespace: *namespace
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
