---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app traefik-whoami
  namespace: network
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  timeout: 10m
  interval: 1h
  values:
    controllers:
      *app :
        strategy: RollingUpdate
        replicas: 1
        pod:
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
              - topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: *app
                    app.kubernetes.io/component: *app
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: ghcr.io/traefik/whoami
              tag: v1.11.0@sha256:200689790a0a0ea48ca45992e0450bc26ccab5307375b41c84dfc4f2475937ab

            resources:
              requests:
                cpu: 20m
                memory: 80M
              limits:
                memory: 80M

    service:
      main:
        controller: *app
        ports:
          http:
            port: &httpPort 80

    route:
      internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "whoami.${CLUSTER_DOMAIN}"
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: main
                port: *httpPort
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: traefik.io
                  kind: Middleware
                  name: authenticated-user
