---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app traefik-whoami
  namespace: &namespace network
  labels:
    app.kubernetes.io/name: *app
    driscoll.dev/name: *app
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
      driscoll.dev/name: *app
  dependsOn:
    - name: certificates
      namespace: *namespace
  path: ./kubernetes/apps/network/traefik/whoami
  prune: true
  wait: true
  force: false # true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/gateway/forwardauth
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
