---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app tsidp
  namespace: &namespace tailscale-system
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: tailscale-operator
      namespace: *namespace
    - name: volsync
      namespace: volsync-system
  path: ./kubernetes/apps/tailscale-system/idp
  prune: true
  wait: true
  force: false # true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../components/volsync
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace

