[env]
_.python.venv = { path = "{{config_root}}/.venv", create = true }
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/talos/clusterconfig/talosconfig"
BOOTSTRAP_DIR = "{{config_root}}/bootstrap"
KUBERNETES_DIR = "{{config_root}}/kubernetes"
ROOT_DIR = "{{config_root}}"
SCRIPTS_DIR = "{{config_root}}/scripts"
TALOS_DIR = "{{config_root}}/talos"
CONNECT_HOST = "https://op-connect.equestria.driscoll.tech/"
CONNECT_VAULT = "Eris"
CONNECT_TOKEN = "op://Eris/Eris 1Password Connect Access Token/credential"

[tools]
python = "3.13.1"
"pipx:makejinja" = "2.8.2"
krew = "0.4.5"

kubectl = "1.35.0"
powershell-core = "7.5.1"
1password-cli = "2.30.3"
talos = "1.11.6"
talhelper = "3.0.43"
yq = "4.50.1"
jq = "1.8.1"
helm = "3.19.4"
helmfile = "1.2.3"
kubeconform = "0.7.0"
kustomize = "5.8.0"
task = "3.44.0"
sops = "3.11.0"
flux2 = "2.7.5"
age = "1.2.1"
cilium-cli = "0.18.4"
cloudflared = "2025.6.1"
cue = "0.13.2"
gh = "2.74.2"
"aqua:brumhard/krewfile" = "0.6.3"
"pipx:flux-local" = "8.0.1"

[tasks.update]
description = 'Update all apps that have an update script'
run = [
  'dotnet run .mise/tasks/do-update.cs',
  'flux-local test --enable-helm --all-namespaces --path ./kubernetes/flux/ --verbosity 1',
]
