---
# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/heads/master/traefik/values.schema.json
image:
  registry: ghcr.io
  repository: traefik/traefik
  tag: v3.6.6@sha256:82d3d16dde0474a51fef00b28de143d48b67f7a27453224d5e7b5aaefff26a97
fullnameOverride: traefik
deployment:
  kind: Deployment
  replicas: 2
service:
  annotations:
    reloader.stakater.com/auto: "true"
    external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
    io.cilium/lb-ipam-ips: "${INTERNAL_IP}"
  externalIPs:
    - "${INTERNAL_IP}"
additionalArguments:
  - '--providers.file.filename=/config/store.yaml'
  - '--serversTransport.insecureSkipVerify=true'
  - --certificatesresolvers.tailscale.tailscale=true
  - --entryPoints.web.address=:80/tcp
  - --entryPoints.websecure.address=:443/tcp
  - --entryPoints.postgres.address=:5432/tcp
  - --entryPoints.mariadb.address=:3306/tcp
volumes:
  # - name: le-staging-tls
  - name: le-production-tls
    mountPath: '/certs'
    type: secret
  - name: cluster-tls
    mountPath: '/cluster-certs'
    type: secret
  - name: traefik-tls-settings
    mountPath: '/config'
    type: configMap
  - name: crowdsec-secret
    mountPath: /etc/secrets/crowdsec
    type: secret
ports:
  traefik:
    expose:
      default: true
  web:
    port: 80
    exposedPort: 80
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    port: 443
    exposedPort: 443
    tls:
      enabled: true
    transport:
      respondingTimeouts:
        readTimeout: "0s"
  postgres:
    expose:
      default: true
    port: 5432
    exposedPort: 5432
    protocol: TCP
    transport:
      respondingTimeouts:
        readTimeout: "0s"
    http:
      encodedCharacters:
        allowEncodedSlash: true
        allowEncodedQuestionMark: true
  mariadb:
    expose:
      default: true
    port: 3306
    exposedPort: 3306
    protocol: TCP
    transport:
      respondingTimeouts:
        readTimeout: "0s"
ingressClass:
  enabled: true
  isDefaultClass: false
  name: internal
metrics:
  addInternals: true
  prometheus:
    disableAPICheck: true
    service:
      enabled: true
    serviceMonitor:
      enabled: true
resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    # cpu: 400m
    memory: 512Mi
providers:
  kubernetesCRD:
    ingressClass: "internal"
    enabled: true
    allowCrossNamespace: true
    allowExternalNameServices: true
  kubernetesIngress:
    ingressClass: "internal"
    enabled: true
    allowExternalNameServices: true
  kubernetesGateway:
    enabled: true
    experimentalChannel: true
    statusAddress:
      ip: "${INTERNAL_IP}"
logs:
  access:
    enabled: true
  general:
    # -- Set [logs format](https://doc.traefik.io/traefik/observability/logs/#format)
    format: common
    # -- Alternative logging levels are TRACE, DEBUG, INFO, WARN, ERROR, FATAL, and PANIC.
    level: "INFO"
ingressRoute:
  dashboard:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
      external-dns.alpha.kubernetes.io/hostname: internal.${CLUSTER_DOMAIN}
    matchRule: Host(`internal.${CLUSTER_DOMAIN}`)
    services:
      - name: api@internal
        kind: TraefikService
    entryPoints:
      - "traefik"
      - "websecure"
    middlewares:
      - name: authenticated-user
        namespace: network
    tls:
      secretName: "le-production-tls"
experimental:
  plugins:
    traefik-plugin-query-modification:
      moduleName: "github.com/kingjan1999/traefik-plugin-query-modification"
      version: "v1.0.0"
    fail2ban:
      moduleName: "github.com/tomMoulard/fail2ban"
      version: "v0.8.9"
    crowdsec-bouncer-traefik-plugin:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: "v1.5.0-beta1"
  fastProxy:
    enabled: true
  otlpLogs: true
web:
  forwardedHeaders:
    insecure: true
    trustedIPs:
      - "${CLUSTER_NETWORK}"
      - "${SERVICE_NETWORK}"
      - 10.0.0.0/8
      - 192.168.0.0/16
      - 100.64.0.0/10
  proxyProtocol:
    insecure: true
    trustedIPs:
      - "${CLUSTER_NETWORK}"
      - "${SERVICE_NETWORK}"
      - 10.0.0.0/8
      - 192.168.0.0/16
      - 100.64.0.0/10
websecure:
  forwardedHeaders:
    insecure: true
    trustedIPs:
      - "${CLUSTER_NETWORK}"
      - "${SERVICE_NETWORK}"
      - 10.0.0.0/8
      - 192.168.0.0/16
      - 100.64.0.0/10
  proxyProtocol:
    insecure: true
    trustedIPs:
      - "${CLUSTER_NETWORK}"
      - "${SERVICE_NETWORK}"
      - 10.0.0.0/8
      - 192.168.0.0/16
      - 100.64.0.0/10

tlsStore:
  default:
    certificates:
      - secretName: &default-certificate le-production-tls
    defaultCertificate:
      secretName: *default-certificate
gatewayClass:
  enabled: true
gateway:
  enabled: true
  annotations:
    external-dns.alpha.kubernetes.io/target: &hostname "${INTERNAL_DOMAIN}"
  infrastructure:
    annotations:
      external-dns.alpha.kubernetes.io/target: *hostname
  name: internal
  listeners:
    web:
      port: 80
      protocol: HTTP
      namespacePolicy:
        from: All

    websecure:
      port: 443
      protocol: HTTPS
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
        - name: le-production-tls
          kind: Secret

    postgres:
      protocol: TCP
      port: 5432
      namespacePolicy:
        from: All

    mariadb:
      protocol: TCP
      port: 3306
      namespacePolicy:
        from: All
