---
apiVersion: tailscale.com/v1alpha1
kind: ProxyClass
metadata:
  name: default
spec:
  metrics:
    enable: true
    serviceMonitor:
      enable: true
---
apiVersion: tailscale.com/v1alpha1
kind: ProxyClass
metadata:
  name: accept-routes
spec:
  metrics:
    enable: true
    serviceMonitor:
      enable: true
  tailscale:
    acceptRoutes: true
