---
apiVersion: tailscale.com/v1alpha1
kind: ProxyGroup
metadata:
  name: observability
spec:
  type: egress
  hostnamePrefix: ${CLUSTER_CNAME}-observability
  replicas: 2
  tags: ["tag:observability"]
  proxyClass: accept-routes
