---
# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/heads/master/traefik/values.schema.json
image:
  repository: traefik
  tag: v3.4.3@sha256:f3de2b96ec6b1cc987619c4d1d65d7e8140862eb0bbfc5f0e2e563691e8787d8
fullnameOverride: traefik-internal

deployment:
  kind: Deployment
  replicas: 3
service:
  annotations:
    reloader.stakater.com/auto: "true"
    external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
    io.cilium/lb-ipam-ips: "${INTERNAL_IP}"
    tailscale.com/expose: "true"
    tailscale.com/hostname: "${INTERNAL_CNAME}"
    tailscale.com/tailnet-ip: "${INTERNAL_TAILSCALE_VIP}"
  externalIPs:
    - "${INTERNAL_IP}"
additionalArguments:
  - '--providers.file.filename=/config/store.yaml'
  - '--serversTransport.insecureSkipVerify=true'
  - --certificatesresolvers.tailscale.tailscale=true
  - --entryPoints.postgres.address=:5432/tcp
volumes:
  # - name: le-staging-tls
  - name: le-production-tls
    mountPath: '/certs'
    type: secret
  - name: cluster-tls
    mountPath: '/cluster-certs'
    type: secret
  - name: traefik-tls-settings
    mountPath: '/config'
    type: configMap
ports:
  traefik:
    expose:
      default: true
  postgres:
    expose:
      default: true
    port: 5432
    exposedPort: 5432
    protocol: TCP
ingressClass:
  enabled: true
  isDefaultClass: false
  name: internal
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    namespaceSelector:
      any: true
resources:
  requests:
    cpu: 50m
    memory: 100Mi
  limits:
    cpu: 150m
    memory: 200Mi
providers:
  kubernetesCRD:
    ingressClass: "internal"
    enabled: true
    allowCrossNamespace: true
    allowExternalNameServices: true
  kubernetesIngress:
    ingressClass: "internal"
    enabled: true
    allowExternalNameServices: true
  kubernetesGateway:
    enabled: true
    experimentalChannel: true
logs:
  access:
    enabled: true
    addInternals: true
  general:
    # -- Set [logs format](https://doc.traefik.io/traefik/observability/logs/#format)
    format: common
    # -- Alternative logging levels are TRACE, DEBUG, INFO, WARN, ERROR, FATAL, and PANIC.
    level: "INFO"
ingressRoute:
  dashboard:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
      external-dns.alpha.kubernetes.io/hostname: internal.${CLUSTER_DOMAIN}
      traefik.ingress.kubernetes.io/router.middlewares: network-authenticated-user@kubernetescrd
    matchRule: Host(`internal.${CLUSTER_DOMAIN}`)
    services:
      - name: api@internal
        kind: TraefikService
    entryPoints:
      - "traefik"
      - "websecure"
    middlewares:
      - name: authenticated-user
        namespace: network
    tls:
      secretName: "le-production-tls"
experimental:
  plugins:
    traefik-plugin-query-modification:
      moduleName: "github.com/kingjan1999/traefik-plugin-query-modification"
      version: "v1.0.0"
  fastProxy:
    enabled: true
  kubernetesGateway:
    enabled: true
web:
  forwardedHeaders:
    insecure: true
  proxyProtocol:
    insecure: true
websecure:
  forwardedHeaders:
    insecure: true
  proxyProtocol:
    insecure: true
