---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  # the config can take a while to restore
  maxHistory: 3
  interval: 1h
  timeout: 1h
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: false # true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  dependsOn: []
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          restartPolicy: Always
        containers:
          *app :
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871
            env:
              TZ: "${TIMEZONE}"
              PUID: 568
              PGID: 568
              PLEX_ADVERTISE_URL: https://plex-alt.${ROOT_DOMAIN}:443,https://${APP}.${CLUSTER_DOMAIN}:443,https://plex-alt.${TAILSCALE_DOMAIN}:443,http://${APP}.${INTERNAL_CLUSTER_SERVICE}:32400
              PLEX_NO_AUTH_NETWORKS: 172.16.0.0/12,10.10.0.0/16,10.69.0.0/16,10.96.0.0/16,192.168.0.0/16,100.64.0.0/10
              PLEX_PURGE_CODECS: "true"
              # PLEX_PREFERENCE_FriendlyName: "Eris Plex"
              # PLEX_PREFERENCE_AcceptedEULA: "1"
              # PLEX_PREFERENCE_PublishServerOnPlexOnlineKey: "1"
              # PLEX_PREFERENCE_PlexOnlineHome: "1"
              # PLEX_PREFERENCE_DlnaEnabled: "1"
              # PLEX_PREFERENCE_PlexOnlineUsername:
              #   secretKeyRef:
              #     name: plex-token
              #     key: username
              # PLEX_PREFERENCE_PlexOnlineMail:
              #   secretKeyRef:
              #     name: plex-token
              #     key: email
              # PLEX_CLAIM_TOKEN:
              #   secretKeyRef:
              #     name: media-management-credentials
              #     key: claim
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 60
                  periodSeconds: 15
                  timeoutSeconds: 30
                  failureThreshold: 20
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: *port
                  periodSeconds: 120
                  timeoutSeconds: 30
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: *port
                  periodSeconds: 30
                  timeoutSeconds: 15
                  failureThreshold: 3
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              # capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 50m
                memory: 1Gi
                gpu.intel.com/i915: 1
              limits:
                gpu.intel.com/i915: 1
                memory: 2Gi
                cpu: 500m

    # tolerations:
    #   - key: amd.com/gpu
    #     operator: Exists
    #     effect: NoSchedule
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        supplementalGroups: [44, 109, 303, 568, 10000]
        seccompProfile: { type: RuntimeDefault }
      # nodeSelector:
      #   intel.feature.node.kubernetes.io/gpu: "true"

    service:
      app:
        controller: *app
        type: ClusterIP
        ports:
          http:
            port: *port

    route:
      internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "${APP}.${CLUSTER_DOMAIN}"
          - "plex-alt.${ROOT_DOMAIN}"
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        existingClaim: ${APP}
        globalMounts:
          - path: /config
      # This must be commented on initial install in order to avoid permission issues in '/config/Library/Application Support/Plex Media Server'
      plex-cache:
        type: persistentVolumeClaim
        forceRename: plex-cache
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 128Gi
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
            subPath: cache
          - path: /config/Library/Application Support/Plex Media Server/Plug-in Support/Caches
            subPath: plugincache
      media:
        existingClaim: truenas-media
        globalMounts:
          - path: /media/
      tmpfs:
        type: emptyDir
        advancedMounts:
          plex:
            app:
              - path: /config/Library/Application Support/Plex Media Server/Logs
                subPath: logs
              - path: /transcode
                subPath: transcode
              - path: /tmp
                subPath: tmp
