---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: plex
  namespace: sgc
spec:
  targetNamespace: sgc
  commonMetadata:
    labels:
      app.kubernetes.io/name: plex
  dependsOn:
    - name: volsync
      namespace: volsync-system
  path: ./kubernetes/apps/sgc/media/plex
  prune: true
  wait: true
  force: false
  interval: 1h
  timeout: 1h
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/volsync
  postBuild:
    substitute:
      APP: plex
      NAMESPACE: sgc
      TAILSCALE_HOST: plex-sgc
      VOLSYNC_CAPACITY: 100Gi
