---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: app-template
spec:
  interval: 12h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 4.5.0
  url: oci://ghcr.io/bjw-s-labs/helm/app-template
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app etcd-backup
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      etcd-backup:
        type: cronjob
        cronjob:
          schedule: "12 4 * * *"
          parallelism: 1
          successfulJobsHistory: 1
          failedJobsHistory: 1

        initContainers:
          talosctl:
            image:
              repository: ghcr.io/siderolabs/talosctl
              tag: v1.12.0@sha256:3f4c3375a0d2fa2f8f53eb8ab4a2d979b8ba4139104c7fc5d695498c9750c180
            args:
              - -n
              - "$(CP_NODE_IP)"
              - etcd
              - snapshot
              - /data/etcd.snapshot
            env:
              - name: CP_NODE_IP
                value: "${CLUSTER_API_IP}"

        containers:
          restic:
            image:
              repository: ghcr.io/ahinko/restic
              tag: 0.18.1@sha256:fa719796676a241c783aa789c0053c92dc92e5d5818722cefb03c5ce163fb904
            workingDir: /data
            args:
              - backup
              - --host
              - kubernetes # set a consistent hostname to avoid restic rescans
              - . # use workingDir to get relative paths in backup
            envFrom:
              - secretRef:
                  name: talos-etcd-restic-keys
            env:
              - name: RESTIC_REPOSITORY
                value: /repository/etcd

        pod:
          hostNetwork: true
          hostPID: true
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app

      purne:
        type: cronjob
        cronjob:
          schedule: "32 5 1 * *" # change me - 1st of month at 05:32
          successfulJobsHistory: 1
          failedJobsHistory: 1

        containers:
          restic:
            image:
              repository: ghcr.io/ahinko/restic
              tag: 0.18.1@sha256:fa719796676a241c783aa789c0053c92dc92e5d5818722cefb03c5ce163fb904
            args:
              - forget
              - --keep-last=7 # change me - set retention policy
              - --keep-weekly=4 # see: https://restic.readthedocs.io/en/latest/060_forget.html
              - --prune
            envFrom:
              - secretRef:
                  name: talos-etcd-restic-keys
            env:
              - name: RESTIC_REPOSITORY
                value: /repository/etcd

    persistence:
      backupdata:
        type: emptyDir
        globalMounts:
          - path: /data
      repository:
        type: nfs
        server: "10.10.10.10"
        path: "/mnt/stash/backup/${CLUSTER_CNAME}/volsync"

      serviceaccount:
        type: secret
        name: etcd-backup-talos
        advancedMounts:
          etcd-backup:
            talosctl:
              - path: /var/run/secrets/talos.dev
                readOnly: true
