---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/tailscale.com/connector_v1alpha1.json
apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: "${CLUSTER_CNAME}"
spec:
  exitNode: true
  hostname: "${CLUSTER_CNAME}"
  subnetRouter:
    advertiseRoutes:
      - "${INTERNAL_NETWORK}"
      - "${CLUSTER_NETWORK}"
      - "${SERVICE_NETWORK}"
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.32.0/service.json
apiVersion: v1
kind: Service
metadata:
  annotations:
    tailscale.com/tailnet-fqdn: "idp.${TAILSCALE_DOMAIN}"
  name: tailscale-idp
spec:
  externalName: idp
  type: ExternalName
