---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.1.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kuma-sync
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  interval: 15m
  timeout: 5m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  dependsOn: []
  values:
    serviceAccount:
      *app : {}
    rbac:
      roles:
        *app :
          type: ClusterRole
          rules:
            - apiGroups: ["autokuma.bigboot.dev"]
              resources: ["*"]
              verbs: ["list", "patch", "watch"]
      bindings:
        *app :
          type: ClusterRoleBinding
          subjects:
            - kind: ServiceAccount
              name: *app
              namespace: ${NAMESPACE}
          roleRef:
            kind: ClusterRole
            name: *app
            apiGroup: rbac.authorization.k8s.io
    secrets:
      *app :
        type: kubernetes.io/service-account-token
        annotations:
          kubernetes.io/service-account.name: *app
        stringData:
          token: ""
          certificate: ""

