# Default values for zitadel.
zitadel:
  configmapConfig:
    ExternalDomain: ${APP}.${ROOT_DOMAIN}
    FirstInstance:
      Skip: false
      Org:
        # In the DefaultInstance.Org.Machine section, the initial organization's admin user with the role IAM_OWNER is defined.
        # If DefaultInstance.Org.Machine.Machine is defined, a service user is created with the IAM_OWNER role.
        Machine:
          Machine:
            Username: zitadel-machine
            Name: Replicators
          MachineKey:
            ExpirationDate: 2032-01-01T00:00:00Z
            Type: 1
          Pat:
            ExpirationDate: 2032-01-01T00:00:00Z
        LoginClient:
          Machine:
            Username: zitadel-login
            Name: Zitadel Login Client
          Pat:
            ExpirationDate: 2032-01-01T00:00:00Z
  configSecretName: zitadel-config
  configSecretKey: config.yaml
  masterkeySecretName: zitadel-masterkey
replicaCount: 2
image:
  repository: ghcr.io/zitadel/zitadel
  tag: v4.7.0
  pullPolicy: IfNotPresent
ingress:
  enabled: true
  className: internal
  annotations:
    reloader.stakater.com/auto: "true"
    external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
login:
  enabled: true
  replicaCount: 2
  image:
    repository: ghcr.io/zitadel/zitadel-login
    tag: v4.7.0
    pullPolicy: IfNotPresent
  ingress:
    enabled: true
    className: internal
    annotations:
      reloader.stakater.com/auto: "true"
      external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
# # Additional environment variables
# env:
#   []
#   # - name: ZITADEL_DATABASE_POSTGRES_HOST
#   #   valueFrom:
#   #     secretKeyRef:
#   #       name: postgres-pguser-postgres
#   #       key: host

# # Additional environment variables from the given secret name
# # Zitadel can be configured using environment variables from a secret.
# # Reference: https://zitadel.com/docs/self-hosting/manage/configure#configure-by-environment-variables
# envVarsSecret: ""

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 1Gi

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
