---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cloudnative-pg
  namespace: &namespace database
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/database/postgres/cloudnative-pg
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
# ---
# # yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app postgres
#   namespace: &namespace database
# spec:
#   targetNamespace: *namespace
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
#   path: ./kubernetes/apps/database/postgres/app
#   dependsOn:
#     - name: cloudnative-pg
#     - name: garage
#   prune: true
#   wait: true
#   force: true
#   suspend: false
#   interval: 1h
#   retryInterval: 2m
#   timeout: 5m
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#     namespace: flux-system
#   components:
#     - ../../../../components/garage-access-key
#   postBuild:
#     substitute:
#       APP: *app
#       NAMESPACE: *namespace
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app pgadmin
  namespace: &namespace database
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: cloudnative-pg
      namespace: *namespace
  path: ./kubernetes/apps/database/postgres/pgadmin
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/volsync
    - ../../../../components/tailscale
    - ../../../../components/ingress/internal
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
