apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name thanos-values
  namespace: observability
spec:
  refreshPolicy: Periodic
  refreshInterval: 4m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
        annotations:
          reloader.stakater.com/auto: "true"
      engineVersion: v2
      templateFrom:
        - target: Data
          configMap:
            name: *name
            items:
              - key: values.yaml
  dataFrom:
    - extract:
        key: "thanos-minio-secret"
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
