---
objstoreConfig:
  create: true
  value:
    type: S3
    config:
      bucket: {{ .minio_bucket }}
      endpoint: {{ .minio_endpoint }}
      access_key: {{ .minio_username }}
      secret_key: {{ .minio_password }}
      insecure: true

receive:
  enabled: true
  retention: 7d
  replicationFactor: 1

  ingestor:
    enabled: true
    replicas: 2
    persistence:
      enabled: true
      size: 50Gi
      storageClass: longhorn
    resources:
      requests:
        cpu: 100m
        memory: 512Mi
      limits:
        memory: 2Gi
    service:
      httpRemoteWritePort: 19291

  router:
    enabled: true
    replicas: 2
    service:
      annotations:
        reloader.stakater.com/auto: "true"
        tailscale.com/expose: "true"
        tailscale.com/hostname: thanos-receive
        tailscale.com/proxy-group: metrics
        tailscale.com/tags: "tag:metrics"
      type: LoadBalancer
      loadBalancerClass: tailscale
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 1Gi

query:
  enabled: true
  replicas: 2
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 1Gi

queryFrontend:
  enabled: true
  replicas: 2
  ingress:
    enabled: true
    ingressClassName: internal
    annotations:
      reloader.stakater.com/auto: "true"
      tailscale.com/hostname: thanos-query
      tailscale.com/proxy-group: ingress
      tailscale.com/tags: "tag:metrics"
      external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: network-local-user@kubernetescrd
    hosts:
      - thanos.${ROOT_DOMAIN}
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 1Gi

storeGateway:
  enabled: true
  replicas: 2
  persistence:
    enabled: true
    size: 10Gi
    storageClass: longhorn
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      memory: 2Gi

compact:
  enabled: true
  persistence:
    enabled: true
    size: 10Gi
    storageClass: longhorn
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      memory: 2Gi
