---
apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: "#{ cluster_name }#"
spec:
  exitNode: true
  hostname: "#{ cluster_name }#"
  subnetRouter:
    advertiseRoutes:
      - "#{ node_cidr }#"
      - "#{ cluster_pod_cidr }#"
      - "#{ cluster_svc_cidr }#"
