---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: not-used
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      &app code-server:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.100.2@sha256:0c31654f1125c3a685a42ed1f2946573f5ebaaf016c5bc0640c72f9f571267e0

            args:
              - --auth
              - none
              - --user-data-dir
              - /home/coder/.vscode
              - --extensions-dir
              - /home/coder/.vscode
              - --port
              - "12321"
              - --proxy-domain
              - &host "{{ .Release.Name }}-code.${CLUSTER_DOMAIN}"
              - /home/coder

            env:
              DISABLE_TELEMETRY: "true"

            resources:
              requests:
                cpu: 10m
                memory: 640M
              limits:
                memory: 640M

        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch

    service:
      *app :
        controller: code
        ports:
          http:
            port: &port 12321

    ingress:
      *app :
        className: internal
        annotations:
          reloader.stakater.com/auto: "true"
          external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Code Servers
          gethomepage.dev/icon: vscode.svg
          gethomepage.dev/name: "{{ .Release.Name }} Code"
          gethomepage.dev/namespace: "{{ .Release.Namespace }}" # The kubernetes namespace the app resides in
          gethomepage.dev/app: "{{ .Release.Name }} Code"
        hosts:
          - host: *host
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: *app
                  port: *port

    persistence:
      *app :
        type: emptyDir
        globalMounts:
          - path: /home/coder
