---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.34.2/service.json
apiVersion: v1
kind: Service
metadata:
  annotations:
    tailscale.com/tailnet-fqdn: "alertmanager.${TAILSCALE_DOMAIN}"
    tailscale.com/tags: "tag:observability"
  name: alertmanager-operated
spec:
  externalName: unused
  type: ExternalName
  ports:
    - port: 9093
      targetPort: 9093
      name: http
