---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: democratic-csi
metadata:
  labels:
    pod-security.kubernetes.io/enforce: privileged
components:
  - ../../components/common
  - ../../components/repos/app-template
resources: []
  # - ./truenas/ks.yaml
