---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.1.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tvhgo
spec:
  timeout: 5m
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: truenas-iscsi-stash
      namespace: democratic-csi
    - name: truenas-stash
      namespace: democratic-csi
  values:
    controllers:
      *app :
        enabled: true
        containers:
          *app :
            image:
              repository: ghcr.io/davidborzek/tvhgo
              tag: v0.2.0@sha256:93461533f682be3b0d1e8185144e6f065ef91004e4c7e08ce9ba99a50b1e9ca0
              pullPolicy: IfNotPresent
            env:
              TZ: ${TIMEZONE}
              TVHGO_TVHEADEND_HOST: "tvheadend.${INTERNAL_CLUSTER_SERVICE}"
            envFrom:
              - secretRef:
                  name: tvhgo-credentials
            securityContext:
              readOnlyRootFilesystem: false

            resources:
              requests:
                cpu: 50m
                memory: 100Mi
              limits:
                cpu: 1000m
                memory: 1Gi

    tolerations:
      # - key: amd.com/gpu
      #   operator: Exists
      #   effect: NoSchedule
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
        runAsGroup: 568
        runAsNonRoot: true
        runAsUser: 568
        seccompProfile:
          type: RuntimeDefault
      # nodeSelector:
      #   intel.feature.node.kubernetes.io/gpu: "true"

    service:
      *app :
        controller: *app
        type: ClusterIP
        ports:
          http:
            port: &http 8080

    ingress:
      internal:
        className: internal
        hosts:
          - host: "${APP}.${ROOT_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: *app
                  port: http
          - host: "${APP}.${CLUSTER_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: *app
                  port: http
        annotations:
          reloader.stakater.com/auto: "true"
          external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          gethomepage.dev/widget.url: "http://${APP}.${INTERNAL_CLUSTER_SERVICE}:5004"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/icon: dispatcharr.svg
          gethomepage.dev/name: dispatcharr
          gethomepage.dev/widget.type: dispatcharr
          gethomepage.dev/namespace: "{{ .Release.Namespace }}" # The kubernetes namespace the app resides in
          gethomepage.dev/app: "${APP}"

    persistence:
      *app :
        existingClaim: ${APP}
        globalMounts:
          - path: /tvhgo
# confgure the app using hard coded values
# and setup plugin cloning using the git repos
