apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: fail2ban
spec:
  plugin:
    fail2ban:
      allowlist:
        ip: ${CLUSTER_NETWORK},${SERVICE_NETWORK},10.0.0.0/8,192.168.0.0/16,100.64.0.0/10
      rules:
        enabled: "true"
        bantime: 12h
        findtime: 10m
        maxretry: "4"
        statuscode: 400,401,403-499
