---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./cloudflare-ips.yaml
  - ./https-redirect.yaml
  - ./internal-network.yaml
  - ./tailscale-network.yaml
  - ./github-hook-ips.yaml
  - ./authenticated-user.yaml
  - ./tailscale-user.yaml
  - ./strip-query-string.yaml
