---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  ROOT_DOMAIN: "#{ cloudflare_domain }#"
  CLUSTER_CNAME: "#{ cluster_name }#"
  CLUSTER_DOMAIN: "#{ cluster_name }#.#{ cloudflare_domain }#"
  ACME_EMAIL: "#{ email }#"
  TAILSCALE_DOMAIN: "#{ tailscale_domain }#"
  CLUSTER_TAILSCALE_DOMAIN: "#{ cluster_name }#.#{ tailscale_domain }#"
  INTERNAL_CNAME: "#{ cluster_internal_cname }#"
  INTERNAL_DOMAIN: "#{ cluster_internal_cname }#.#{ cloudflare_domain }#"
  INTERNAL_IP: "#{ cluster_ingress_addr }#"
  EXTERNAL_CNAME: "#{ cluster_external_cname }#"
  EXTERNAL_DOMAIN: "#{ cluster_external_cname }#.#{ cloudflare_domain }#"
  EXTERNAL_IP: "#{ cloudflare_ingress_addr }#"
  K8S_GATEWAY_IP: "#{ cluster_dns_gateway_addr }#"
  TUNNEL_DOMAIN: "#{ cloudflare_tunnel_id }#.cfargotunnel.com"
