---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  ROOT_DOMAIN: "#{ cloudflare_domain }#"
  CLUSTER_CNAME: ""
  CLUSTER_DOMAIN: ""
  ACME_EMAIL: ""
  TAILSCALE_DOMAIN: ""
