---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/ocirepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: grafana
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  url: oci://ghcr.io/grafana/helm-charts/grafana
  ref:
    tag: 10.1.4
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app grafana
spec:
  chartRef:
    kind: OCIRepository
    name: grafana
  interval: 24h
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    replicas: 1
    podAnnotations:
      reloader.stakater.com/auto: "true"
    env:
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_EXPLORE_ENABLED: true
      GF_FEATURE_TOGGLES_ENABLE: publicDashboards
      GF_SECURITY_COOKIE_SAMESITE: *app
      GF_SERVER_ROOT_URL: https://${APP}.${CLUSTER_DOMAIN}
    envFromSecrets:
      - name: grafana-secret
    grafana.ini:
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
      auth:
        signout_redirect_url: https://${OIDC_ISSUER}/application/o/${CLUSTER_CNAME}-grafana/end-session/
        oauth_auto_login: true
        oauth_allow_insecure_email_lookup: true
      # # auth.anonymous:
      # #   enabled: true
      # #   org_name: Main Org.
      # #   org_role: Viewer
      # #   hide_version: true
      auth.generic_oauth:
        name: ${CLUSTER_TITLE}
        enabled: true
        scopes: openid email profile
        auth_url: https://${OIDC_ISSUER}/application/o/authorize/
        token_url: https://${OIDC_ISSUER}/application/o/token/
        api_url: https://${OIDC_ISSUER}/application/o/userinfo/
        # Optionally map user groups to Grafana roles
        role_attribute_path: contains(groups[*], 'admins') && 'Admin' || contains(groups[*], 'media-managers') && 'Editor' || 'Viewer'
    deploymentStrategy:
      type: RollingUpdate
    resources:
      requests:
        memory: 100Mi
        cpu: 10m
      limits:
        memory: 1024M
    admin:
      existingSecret: grafana-secret
      passwordKey: adminPass
      userKey: adminUser
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
          - name: node-monitoring
            orgId: 1
            folder: Node
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/node-monitoring
          - name: cilium
            orgId: 1
            folder: Cilium
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/cilium
          - name: data
            orgId: 1
            folder: Data
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/data
          - name: media
            orgId: 1
            folder: Media
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/media
          - name: flux
            orgId: 1
            folder: Flux
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/flux
          - name: kubernetes
            orgId: 1
            folder: Kubernetes
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/kubernetes
          - name: network
            orgId: 1
            folder: Network
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/network
          - name: nginx
            orgId: 1
            folder: Nginx
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/nginx
          - name: system
            orgId: 1
            folder: System
            type: file
            disableDeletion: false
            editable: true
            allowUiUpdates: true
            options:
              path:
                /var/lib/grafana/dashboards/system
                # - name: thanos
                #   orgId: 1
                #   folder: Thanos
                #   type: file
                #   disableDeletion: false
                #   editable: true
                #   allowUiUpdates: true
                #   options:
                #     path: /var/lib/grafana/dashboards/thanos
    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - {name: "Alertmanager", orgId: 1}
          - {name: "Loki", orgId: 1}
          - {name: "Prometheus", orgId: 1}
        datasources:
          - name: "Prometheus"
            type: prometheus
            uid: prometheus
            isDefault: true
            access: proxy
            url: http://kube-prometheus-stack-prometheus.observability.svc.cluster.local:9090
            jsonData:
              timeInterval: 1m
          - name: "Loki"
            type: loki
            uid: loki
            access: proxy
            url: http://loki-headless.observability.svc.cluster.local:3100
            jsonData:
              maxLines: 250
          - name: "Alertmanager"
            type: alertmanager
            access: proxy
            url: http://kube-prometheus-stack-alertmanager.observability.svc.cluster.local:9093
            jsonData:
              implementation: prometheus
    dashboards:
      node-monitoring:
        node-exporter-full:
          # renovate: depName="Node Exporter Full"
          gnetId: 1860
          revision: 41
          datasource: Prometheus
        node-exporter-bsd:
          # renovate: depName="Node Exporter BSD"
          gnetId: 4260
          revision: 15
          datasource: Prometheus
        node-feature-discovery:
          url: https://raw.githubusercontent.com/kubernetes-sigs/node-feature-discovery/master/examples/grafana-dashboard.json
          datasource: Prometheus
      data:
        external-secrets:
          url: https://raw.githubusercontent.com/external-secrets/external-secrets/main/docs/snippets/dashboard.json
          datasource: Prometheus
        # zfs:
        #   # renovate: depName="ZFS"
        #   gnetId: 7845
        #   revision: 4
        #   datasource: Prometheus
      flux:
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
          datasource: Prometheus
        flux-logs:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/logs.json
          datasource: Prometheus
      kubernetes:
        kubernetes-api-server:
          # renovate: depName="Kubernetes / System / API Server"
          gnetId: 15761
          revision: 19
          datasource: Prometheus
        kubernetes-coredns:
          # renovate: depName="Kubernetes / System / CoreDNS"
          gnetId: 15762
          revision: 21
          datasource: Prometheus
        kubernetes-global:
          # renovate: depName="Kubernetes / Views / Global"
          gnetId: 15757
          revision: 43
          datasource: Prometheus
        kubernetes-namespaces:
          # renovate: depName="Kubernetes / Views / Namespaces"
          gnetId: 15758
          revision: 42
          datasource: Prometheus
        kubernetes-nodes:
          # renovate: depName="Kubernetes / Views / Nodes"
          gnetId: 15759
          revision: 37
          datasource: Prometheus
        kubernetes-prometheus:
          # renovate: depName="Prometheus"
          gnetId: 19105
          revision: 7
          datasource: Prometheus
        smartctl-exporter:
          # renovate: depName="SMARTctl Exporter Dashboard"
          gnetId: 22604
          revision: 2
          datasource:
            - {name: DS_PROMETHEUS, value: Prometheus}
        kubernetes-volumes:
          # renovate: depName="K8s / Storage / Volumes / Cluster"
          gnetId: 11454
          revision: 14
          datasource: Prometheus
        kubernetes-pods:
          # renovate: depName="Kubernetes / Views / Pods"
          gnetId: 15760
          revision: 36
          datasource: Prometheus
      media:
        miniflux:
          url: https://raw.githubusercontent.com/miniflux/v2/main/contrib/grafana/dashboard.json
          datasource: Prometheus
      network:
        # apc-ups:
        #   # renovate: depName="APC UPS (SNMP)"
        #   gnetId: 12340
        #   revision: 1
        #   datasource: Prometheus
        blackbox-exporter:
          # renovate: depName="Prometheus Blackbox Exporter"
          gnetId: 7587
          revision: 3
          datasource: Prometheus
        cert-manager:
          # renovate: depName="Cert-manager-Kubernetes"
          gnetId: 20842
          revision: 3
          datasource: Prometheus
        # frigate:
        #   # renovate: depName="Frigate"
        #   gnetId: 18226
        #   revision: 9
        #   datasource:
        #     - {name: DS_PROMETHEUS, value: Prometheus}
        envoy:
          # renovate: depName="Envoy Proxy Monitoring gRPC"
          gnetId: 23239
          revision: 1
          datasource:
            - {name: DS_AFRANET_PROMETHEUS, value: Prometheus}
        # cloudflared:
        #   # renovate: depName="Cloudflare Tunnels (cloudflared)"
        #   gnetId: 17457
        #   revision: 6
        #   datasource:
        #     - {name: DS_PROMETHEUS, value: Prometheus}
        external-dns:
          # renovate: depName="External-dns"
          gnetId: 15038
          revision: 3
          datasource: Prometheus
        # opnsense:
        #   # renovate: depName="OPNsense"
        #   gnetId: 21113
        #   revision: 1
        #   datasource:
        #     - {name: DS_PROMETHEUS-K0, value: Prometheus}
        speedtest-exporter-hub:
          # renovate: depName="Speedtest Exporter"
          gnetId: 13665
          revision: 4
          datasource:
            - {name: DS_PROMETHEUS, value: Prometheus}
      system:
        volsync:
          # renovate: depName="VolSync Dashboard"
          gnetId: 21356
          revision: 3
          datasource:
            - {name: DS_PROMETHEUS, value: Prometheus}
            - {name: VAR_REPLICATIONDESTNAME, value: ".*-bootstrap"}
        # kasa:
        #   # renovate: depName="Kasa"
        #   gnetId: 10957
        #   revision: 3
        #   datasource:
        #     - { name: DS_PROMETHEUS, value: Prometheus }
        # minio:
        #   # renovate: depName="MinIO Dashboard"
        #   gnetId: 13502
        #   revision: 26
        #   datasource:
        #     - {name: DS_PROMETHEUS, value: Prometheus}
        spegel:
          # renovate: depName="Spegel"
          gnetId: 18089
          revision: 1
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
      # thanos:
      #   thanos-bucket-replicate:
      #     url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/bucket-replicate.json
      #     datasource: Prometheus
      #   thanos-compact:
      #     url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/compact.json
      #     datasource: Prometheus
      #   thanos-overview:
      #     url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/overview.json
      #     datasource: Prometheus
      #   thanos-query:
      #     url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/query.json
      #     datasource: Prometheus
      #   thanos-query-frontend:
      #     url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/query-frontend.json
      #     datasource: Prometheus
      #   thanos-receieve:
      #     url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/receive.json
      #     datasource: Prometheus
      #   thanos-rule:
      #     url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/rule.json
      #     datasource: Prometheus
      #   thanos-sidecar:
      #     url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/sidecar.json
      #     datasource: Prometheus
      #   thanos-store:
      #     url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/store.json
      #     datasource: Prometheus
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        labelValue: ""
        label: grafana_dashboard
        folderAnnotation: grafana_folder
        provider:
          disableDelete: true
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
        labelValue: ""
    plugins:
      - grafana-clock-panel
      - grafana-piechart-panel
      - grafana-worldmap-panel
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - vonage-status-panel
      - fifemon-graphql-datasource
    serviceMonitor:
      enabled: true
    persistence:
      enabled: false
    # topologySpreadConstraints:
    #   - maxSkew: 1
    #     topologyKey: kubernetes.io/hostname
    #     whenUnsatisfiable: DoNotSchedule
    #     labelSelector:
    #       matchLabels:
    #         app.kubernetes.io/name: *app

    route:
      main:
        enabled: true
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - ${APP}.${CLUSTER_DOMAIN}
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: local-user
