---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
  - target:
      group: gateway.networking.k8s.io
      version: v1
      kind: HTTPRoute
    patch: |-
      - op: add
        path: /spec/rules/0/filters
        value:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: local-user
  - target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
    patch: |-
      - op: add
        path: /spec/values/route/internal/rules/0/filters
        value:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: local-user
