---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.1.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app go2rtc

spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 15m
  timeout: 5m
  values:
    fullnameOverride: *app
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/alexxit/go2rtc
              tag: 1.9.9@sha256:7d31dcb73633310e80497c431f4534c81ed55ec0708db3262bc56918e654bba5
              pullPolicy: Always
            # -- environment variables.
            # See [image docs](https://github.com/dani-garcia/vaultwarden/blob/main/.env.template) for more details.
            env:
              PUID: 568
              PGID: 568
              UMASK: 002
              TZ: "${TIMEZONE}"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &http 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              # startup:
              #   enabled: true
              #   spec:
              #     failureThreshold: 50
              #     periodSeconds: 10
            securityContext:
              runAsNonRoot: true
              runAsUser: 568
              runAsGroup: 568
              fsGroup: 568
              fsGroupChangePolicy: "OnRootMismatch"
              supplementalGroups: [0, 1, 44, 109, 303, 568, 10000]
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 50m
                memory: 100Mi
              limits:
                cpu: 500m
                memory: 6Gi
                # amd.com/gpu: 1

    # tolerations:

    #   - key: amd.com/gpu
    #     operator: Exists
    #     effect: NoSchedule

    defaultPodOptions:
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    # -- Configures service settings for the chart.
    service:
      app:
        controller: app
        ports:
          http:
            port: *http
          webrtc-tcp:
            port: &webrtc 8555
            protocol: TCP
          webrtc-udp:
            port: *webrtc
            protocol: UDP
      rtsp:
        controller: app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "${INTERNAL_IP}"
        externalIPs:
          - "${INTERNAL_IP}"
        ports:
          rtsp:
            port: &rtsp 554
            protocol: TCP

    persistence:
      config:
        type: configMap
        name: go2rtc-config
        globalMounts:
          - path: /config/go2rtc.yaml
            subPath: go2rtc.yaml
            readOnly: true

    ingress:
      internal:
        className: internal
        hosts:
          - host: "${APP}.${CLUSTER_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: *http
        annotations:
          reloader.stakater.com/auto: "true"
          external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          gethomepage.dev/widget.url: "http://${APP}.${INTERNAL_CLUSTER_SERVICE}:6767"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media Management
          gethomepage.dev/icon: go2rtc.svg
          gethomepage.dev/name: Go2rtc
          gethomepage.dev/widget.type: "go2rtc"
          gethomepage.dev/namespace: "{{ .Release.Namespace }}" # The kubernetes namespace the app resides in
          gethomepage.dev/app: "${APP}"
