nameOverride: &name prometheus
fullnameOverride: *name
ipFamilyPolicy: SingleStack
ipFamilies:
  - IPv4
cleanPrometheusOperatorObjectNames: true
alertmanager:
  enabled: false
grafana:
  enabled: false
kubeEtcd:
  service:
    selector:
      component: kube-apiserver # etcd runs on control plane nodes
kubeProxy:
  enabled: false
prometheus:
  annotations:
    reloader.stakater.com/auto: "true"
  priorityClassName: observability-critical
  route:
    main:
      enabled: true
      hostnames:
        - prometheus.${CLUSTER_DOMAIN}
      parentRefs:
        - name: internal
          namespace: network
          kind: Gateway
      filters:
        - type: ExtensionRef
          extensionRef:
            group: traefik.io
            kind: Middleware
            name: authenticated-user
  prometheusSpec:
    scrapeInterval: 60s
    evaluationInterval: 60s
    externalUrl: https://prometheus.${CLUSTER_DOMAIN}
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    scrapeConfigSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    retention: 1d
    retentionSize: 16GB
    enableFeatures:
      - promql-experimental-functions
      - otlp-deltatocumulative
    resources:
      requests:
        cpu: 100m
        memory: 1Gi
      limits:
        # cpu: 500m
        memory: 4Gi
    remoteWriteDashboards: true
    remoteWrite:
      - url: http://thanos-receive.observability.svc.cluster.local:19291/api/v1/receive
        queueConfig:
          maxSamplesPerSend: 10000
          batchSendDeadline: 5s
          minShards: 1
          maxShards: 4
    externalLabels:
      cluster: ${CLUSTER_CNAME}
      environment: homelab
      region: home
    tsdb:
      outOfOrderTimeWindow: 30m
    enableAdminAPI: true
    enableOTLPReceiver: true
    otlp:
      translation_strategy: NoUTF8EscapingWithSuffixes
      # Recommended attributes to be promoted to labels.
      promote_resource_attributes:
        - service.instance.id
        - service.name
        - service.namespace
        - service.version
        - cloud.availability_zone
        - cloud.region
        - container.name
        - deployment.environment
        - deployment.environment.name
        - k8s.cluster.name
        - k8s.container.name
        - k8s.cronjob.name
        - k8s.daemonset.name
        - k8s.deployment.name
        - k8s.job.name
        - k8s.namespace.name
        - k8s.pod.name
        - k8s.replicaset.name
        - k8s.statefulset.name
    alertingEndpoints:
      - name: alertmanager-operated
        namespace: observability
        port: http
        scheme: http
        apiVersion: v2
        pathPrefix: /
        timeout: 10s
    additionalAlertManagerConfigs:
      - scheme: http
        api_version: v2
        path_prefix: /
        timeout: 10s
        static_configs:
          - targets:
            - alertmanager-operated.observability.svc.cluster.local:9093
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          resources:
            requests:
              storage: 20Gi
prometheus-node-exporter:
  fullnameOverride: node-exporter
  prometheus:
    monitor:
      enabled: true
      interval: 60s
      attachMetadata:
        node: true
      relabelings:
        - action: replace
          regex: (.*)
          replacement: $1
          sourceLabels: ["__meta_kubernetes_pod_node_name"]
          targetLabel: kubernetes_node
kube-state-metrics:
  fullnameOverride: kube-state-metrics
  metricLabelsAllowlist:
    - pods=[*]
    - deployments=[*]
    - persistentvolumeclaims=[*]
  prometheus:
    monitor:
      enabled: true
      relabelings:
        - action: replace
          regex: (.*)
          replacement: $1
          sourceLabels: ["__meta_kubernetes_pod_node_name"]
          targetLabel: kubernetes_node
kubelet:
  serviceMonitor:
    resourceInterval: 15s
    cAdvisorInterval: 15s
