---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${APP}-values
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  refreshPolicy: Periodic
  refreshInterval: "5m"
  target:
    name: ${APP}-values
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
        annotations:
          reloader.stakater.com/auto: "true"
      templateFrom:
      - target: Data
        configMap:
          name: ${APP}-values
          items:
          - key: values.yaml
            templateAs: Values
  dataFrom:
    - extract:
        key: 'Garage Password'
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
