---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./garage.yaml
  - ./generated
  - ./replicas/data
  - ./replicas/meta
  - ./ingress.yaml
configMapGenerator:
- name: ${APP}-config
  files:
  - garage.toml=./resources/garage.toml
- name: ${APP}-scripts
  files:
    - bootstrap-garage.sh=./resources/bootstrap-garage.sh
    - init-users.sh=./resources/init-users.sh
generatorOptions:
  disableNameSuffixHash: true
