---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app nut-exporter
spec:
  interval: 24h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    controllers:
      nut-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/druggeri/nut_exporter
              tag: "3.2.2@sha256:a203474e5b24eddf33b45013d9dd72c41769abeaad6a8cbf6316610a96dc5a95"
            env:
              TZ: ${TIMEZONE}
            args: --nut.vars_enable="battery.charge,battery.charge,battery.runtime,battery.type,device.mfr,device.model,device.type,driver.name,driver.parameter.pollfreq,driver.parameter.pollinterval,driver.parameter.port,driver.parameter.vendorid,driver.version,driver.version.data,driver.version.internal,input.voltage,outlet.1.status,outlet.desc,outlet.id,outlet.switchable,output.frequency,output.frequency.nominal,output.voltage,output.voltage.nominal,ups.beeper.status,ups.delay.shutdown,ups.firmware,ups.load,ups.mfr,ups.model,ups.power.nominal,ups.productid,ups.start.battery,ups.status,ups.timer.shutdown,ups.vendorid,ups.vendorid"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              limits:
                memory: 100Mi
              requests:
                cpu: 10m
                memory: 50Mi
    service:
      app:
        controller: *app
        ports:
          metrics:
            enabled: true
            protocol: TCP
            port: 9199

    serviceMonitor:
      app:
        enabled: true
        serviceName: *app
        endpoints:
          - interval: 30s
            path: /ups_metrics
            port: metrics
            scheme: http
            scrapeTimeout: 30s
            metricRelabelings:
              - action: replace
                replacement: server
                sourceLabels:
                  - instance
                targetLabel: instance
              - action: replace
                replacement: server
                sourceLabels:
                  - server
                targetLabel: server
              - action: labeldrop
                regex: (pod)
            params:
              server:
                - ${ALPHA_SITE_IP}
            selector:
              matchLabels:
                app.kubernetes.io/instance: *app
                app.kubernetes.io/name: *app
