# ---
# # yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app adguard-home
#   namespace: &namespace sgc
# spec:
#   targetNamespace: *namespace
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
#   path: ./kubernetes/apps/sgc/dns/adguard-home
#   prune: true
#   wait: true
#   force: true
#   interval: 1h
#   retryInterval: 2m
#   timeout: 10m
#   dependsOn:
#     - name: volsync
#       namespace: volsync-system
#     - name: sgc-secrets
#       namespace: *namespace
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#     namespace: flux-system
#   components:
#     - ../../../../components/tailscale
#   postBuild:
#     substitute:
#       APP: *app
#       NAMESPACE: *namespace
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app sgc-dns-records
  namespace: &namespace sgc
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: cloudflare-dns
      namespace: network
  path: ./kubernetes/apps/sgc/dns/records
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
