kubernetes-odyssey.yaml
kubernetes-daedalus.yaml
kubernetes-oneill.yaml
talosconfig
kubernetes-othalla.yaml
kubernetes-pegasus.yaml
kubernetes-milky-way.yaml
sgc-milky-way.yaml
sgc-othalla.yaml
sgc-pegasus.yaml
