apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: crowdsec-bouncer
spec:
  plugin:
    crowdsec-bouncer:
      enabled: true
      forwardedHeadersTrustedIps: ${CLUSTER_NETWORK},${SERVICE_NETWORK},10.0.0.0/8,192.168.0.0/16,100.64.0.0/10
      crowdsecMode: stream
      crowdsecLapiHost: crowdsec-service.network.svc.cluster.local:8080
      crowdsecLapiKeyFile: /etc/secrets/crowdsec/lapi
