---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  - ./secret-store.yaml
  - ./crds/ks.yaml
  - ./prometheus-proxy/ks.yaml
  - ./alloy-proxy/ks.yaml
  - ./smartctl-exporter/ks.yaml
  - ./blackbox-exporter/ks.yaml
