---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  - ./secret-store.yaml
  - ./crds/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./loki/ks.yaml
  - ./alloy/ks.yaml
  - ./grafana/ks.yaml
  - ./silence-operator/ks.yaml
  - ./exporters/ks.yaml
  - ./gatus/ks.yaml
  # - ./thanos/ks.yaml
