---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${APP}-config
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: database
  refreshPolicy: Periodic
  refreshInterval: 4m
  target:
    name: ${APP}-config
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
        annotations:
          reloader.stakater.com/auto: "true"
      templateFrom:
      - target: Data
        configMap:
          name: ${APP}-config
          items:
            - key: data-sources.json
              templateAs: Values
            - key: cloudbeaver.conf
              templateAs: Values
  dataFrom:
    - extract:
        key: '${CLUSTER_CNAME}-postgres-superuser'
      sourceRef:
        storeRef:
          kind: ClusterSecretStore
          name: database
      rewrite:
        - regexp:
            source: "(.*)"
            target: "postgres_$1"

---
# create admin credentials secret from 1Password
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${APP}-env
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  refreshPolicy: Periodic
  refreshInterval: 4m
  target:
    name: ${APP}-env
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
        annotations:
          reloader.stakater.com/auto: "true"
      data:
        CLOUDBEAVER_DEFAULT_EMAIL: "{{ .cloudbeaver_admin_username }}"
        CLOUDBEAVER_DEFAULT_PASSWORD: "{{ .cloudbeaver_admin_password }}"
        TZ: "${TIMEZONE}"
        CLOUDBEAVER_ENABLED_DRIVERS: "postgresql,redis"
        CLOUDBEAVER_REDIS_DRIVER_URL: "{{ .redis_driver_url }}"
  dataFrom:
    - extract:
        key: '${CLUSTER_CNAME}-${APP}-credentials'
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "cloubeaver_$1"
