---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app definition-crds
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  interval: 1h
  timeout: 10m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: false
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  dependsOn: []
  values:
    serviceAccount:
      *app : {}
    rbac:
      roles:
        *app :
          forceRename: *app
          type: ClusterRole
          rules:
            - apiGroups: ["driscoll.dev"]
              resources: ["*"]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["autokuma.bigboot.dev"]
              resources: ["*"]
              verbs: ["get", "list", "watch"]
            - apiGroups: [""]
              resources: ["namespaces", "secrets", "configmaps"]
              verbs: ["get", "list", "watch"]
            - apiGroups: [""]
              resources: ["secrets", "configmaps"]
              verbs: ["patch", "update", "create", "delete"]
      bindings:
        *app :
          type: ClusterRoleBinding
          subjects:
            - kind: ServiceAccount
              name: *app
              namespace: ${NAMESPACE}
          roleRef:
            kind: ClusterRole
            name: *app
            apiGroup: rbac.authorization.k8s.io
    secrets:
      config:
        forceRename: definition-crds-config
        type: Opaque
        stringData:
          sa: "${APP}"
          cluster: "${CLUSTER_CNAME}"
          cluster_api: "apiserver.${CLUSTER_DOMAIN}"
      *app :
        type: kubernetes.io/service-account-token
        annotations:
          kubernetes.io/service-account.name: *app
        stringData:
          token: ""
          certificate: ""
