---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app authentik
  namespace: &namespace sgc
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
      driscoll.dev/name: *app
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: postgres
      namespace: database
  path: ./kubernetes/apps/sgc/idp/authentik
  prune: true
  wait: true
  force: false
  interval: 1h
  retryInterval: 2m
  timeout: 20m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/volsync
    - ../../../../components/postgres
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_ACCESSMODES: ReadWriteMany
      TAILSCALE_SERVICE: authentik-server
