---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik
  namespace: sgc
spec:
  targetNamespace: sgc
  commonMetadata:
    labels:
      app.kubernetes.io/name: authentik
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: postgres
      namespace: database
  path: ./kubernetes/apps/sgc/idp/authentik
  prune: true
  wait: true
  force: false
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/volsync
    # - ../../../../components/volsync/backblaze
    - ../../../../components/postgres
  postBuild:
    substitute:
      APP: authentik
      NAMESPACE: sgc
      VOLSYNC_ACCESSMODES: ReadWriteMany
      TAILSCALE_SERVICE: authentik-server
