---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app tuppr-upgrades
  namespace: &namespace system-upgrade
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
      driscoll.dev/name: *app
  dependsOn:
    - name: tuppr
      namespace: *namespace
  path: ./kubernetes/apps/system-upgrade/upgrades
  prune: true
  wait: false
  force: false
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
    substituteFrom:
      - kind: ConfigMap
        name: versions
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
