---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
    name: cloudflare-tunnel
    annotations:
      reloader.stakater.com/auto: "true"
spec:
    itemPath: "#{ cloudflare_tunnel_secret }#"
