---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: thanos
  namespace: observability
spec:
  targetNamespace: observability
  path: ./kubernetes/apps/observability/thanos/app
  prune: true
  wait: true
  force: false
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: onepassword-connect
      namespace: kube-system
    - name: external-secrets
      namespace: kube-system
  postBuild:
    substitute:
      APP: thanos
      NAMESPACE: observability
