---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: thanos
  namespace: observability
spec:
  targetNamespace: observability
  path: ./kubernetes/apps/observability/thanos/app
  prune: true
  wait: true
  force: false
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn: []
  components:
    - ../../../../components/tailscale
  postBuild:
    substitute:
      APP: thanos
      NAMESPACE: observability
