---
# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
 name: tailscale-authkey
 annotations:
  reflector.v1.k8s.emberstack.com/reflects: "network/tailscale-authkey"
  reloader.stakater.com/auto: "true"
