---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.1.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tvheadend-xmltv-sync

spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  interval: 15m
  timeout: 5m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  dependsOn:
    - name: tvheadend
  values:
    controllers:
      *app :
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          backoffLimit: 6
          concurrencyPolicy: Forbid
          failedJobsHistory: 2
          schedule: "0 */2 * * *"
          startingDeadlineSeconds: 30
          successfulJobsHistory: 3
          suspend: false
        containers:
          *app :
            image:
              repository: alpine/socat
              tag: latest@sha256:521090552ebdd593e9c38faadd2c09d44d6b5fefbb40a9a9d6d40f265b34450a
              pullPolicy: Always
            command:
              - /epgp/startup.sh
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                cpu: 10m
                memory: 256Mi
    tolerations:
      # - key: amd.com/gpu
      #   operator: Exists
      #   effect: NoSchedule
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
        runAsGroup: 568
        runAsNonRoot: true
        runAsUser: 568
        seccompProfile:
          type: RuntimeDefault
      # nodeSelector:
      #   intel.feature.node.kubernetes.io/gpu: "true"

    configMaps:
      startup-sh:
        enabled: true
        data:
          startup.sh: |-
            #!/bin/sh
            echo "Downloading EPG data..."

            find /tivi-sync -name "*.xml" -print0 | while IFS= read -r -d '' file; do
                echo "Processing file: $file"
                cat $file | socat - UNIX:/tvheadend/epggrab/xmltv.sock
            done

            echo "EPG Updated successfully."

    persistence:
      tvheadend:
        existingClaim: tvheadend
      tivi-sync:
        existingClaim: tivi-sync
      startup-sh:
        enabled: true
        type: configMap
        name: tvheadend-xmltv-sync-startup-sh
        defaultMode: 493
        globalMounts:
          - path: /epgp/startup.sh
            subPath: startup.sh
# confgure the app using hard coded values
# and setup plugin cloning using the git repos
