---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: ${APP}-internal
  annotations:
    reloader.stakater.com/auto: "true"
    external-dns.alpha.kubernetes.io/target: "${INTERNAL_DOMAIN}"
    external-dns.alpha.kubernetes.io/hostname: postgres.${CLUSTER_DOMAIN}
spec:
  parentRefs:
    - name: internal
      namespace: network
      sectionName: postgres
  rules:
    - backendRefs:
        - name: postgres-rw
          port: 5432
---
# Removed Traefik IngressRouteTCP in favor of Gateway API TCPRoute
