
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master-standalone-strict/persistentvolume-v1.json
apiVersion: v1
kind: PersistentVolume
metadata:
  name: spike-media-tv
  labels:
    kustomize.toolkit.fluxcd.io/force: enabled
spec:
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4.1
    - hard
    - intr
  capacity:
    storage: 40Ti
  storageClassName: nfs-csi
  csi:
    driver: nfs.csi.k8s.io
    volumeHandle: spike-media-tv-old-volume-id
    volumeAttributes:
      server: "${SPIKE_IP}"
      share: /mnt/stash/media/tv-old
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master-standalone-strict/persistentvolumeclaim-v1.json
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spike-media-tv
  labels:
    kustomize.toolkit.fluxcd.io/force: enabled
spec:
  storageClassName: nfs-csi
  volumeName: spike-media-tv
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 40Ti
