---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/pushsecret_v1alpha1.json
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: postgres-superuser-push-secret
spec:
  updatePolicy: IfNotExists
  deletionPolicy: None
  refreshInterval: 24h
  secretStoreRefs:
    - kind: ClusterSecretStore
      name: onepassword-connect
  selector:
    secret:
      name: postgres-superuser
  data:
    - match:
        secretKey: username
        remoteRef:
          remoteKey: &key ${CLUSTER_CNAME}-postgres-superuser
          property: username
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: password
        remoteRef:
          remoteKey: *key
          property: password
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: hostname
        remoteRef:
          remoteKey: *key
          property: hostname
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: public-hostname
        remoteRef:
          remoteKey: *key
          property: public-hostname
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: port
        remoteRef:
          remoteKey: *key
          property: port
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: database
        remoteRef:
          remoteKey: *key
          property: database
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: pgpass
        remoteRef:
          remoteKey: *key
          property: pgpass
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: jdbc-uri
        remoteRef:
          remoteKey: *key
          property: jdbc-uri
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: uri
        remoteRef:
          remoteKey: *key
          property: uri
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: public-jdbc-uri
        remoteRef:
          remoteKey: *key
          property: public-jdbc-uri
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: public-uri
        remoteRef:
          remoteKey: *key
          property: public-uri
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: connection-string
        remoteRef:
          remoteKey: *key
          property: connection-string
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
    - match:
        secretKey: public-connection-string
        remoteRef:
          remoteKey: *key
          property: public-connection-string
      metadata:
        apiVersion: kubernetes.external-secrets.io/v1alpha1
        kind: PushSecretMetadata
        spec: {}
