# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant

spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  interval: 15m
  timeout: 10m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: false
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  dependsOn:
    - name: mosquitto
      namespace: sgc
    - name: matter
      namespace: sgc
  values:
    fullnameOverride: *app
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          restartPolicy: Always
          terminationGracePeriodSeconds: 30
        initContainers:
          fix-permissions:
            image:
              repository: alpine
              tag: 3.23.2@sha256:865b95f46d98cf867a156fe4a135ad3fe50d2056aa3f25ed31662dff6da4eb62
              pullPolicy: IfNotPresent
            command:
              - sh
              - -c
              - |
                echo "Resetting permissions on /config to 0777";
                if [ -d /config ]; then
                  chmod -R 0777 /config || true
                else
                  echo "/config not found";
                fi
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              runAsNonRoot: false
            resources:
              requests:
                cpu: 10m
                memory: 16Mi
              limits:
                memory: 64Mi
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.1.3@sha256:9f094e0531e5784d1df9bcb817d95830d1da9d4a03c914f8fd1b3cc6168c4e65
              pullPolicy: IfNotPresent
            env:
              HASS_HTTP_TRUSTED_PROXY_1: "${CLUSTER_NETWORK}"
              HASS_HTTP_TRUSTED_PROXY_2: "${SERVICE_NETWORK}"
              HASS_EXTERNAL_URL: "https://home.${ROOT_DOMAIN}"
              TZ: "${TIMEZONE}"
            resources:
              requests:
                memory: 2Gi
                cpu: 200m
              limits:
                # cpu: 2
                memory: 5Gi
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &app-port 8123
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *app-port
                  initialDelaySeconds: 0
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *app-port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3

          code:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.1@sha256:867b9a9dedd68f1b46e308cad9525e419db7b0ce0c83831f6a350f37ee7ff6fd
            env:
              TZ: ${TIMEZONE}
              HOME: /home/coder
              USER: coder
              GIT_SSH_COMMAND: ssh -i /home/coder/.ssh/id_rsa -o IdentitiesOnly=yes
            args:
              - --auth
              - none
              - --user-data-dir
              - /config/.vscode
              - --extensions-dir
              - /config/.vscode
              - --port
              - "8888"
              - /config
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 1Gi

    defaultPodOptions:
      # required for mDNS and other host network features
      hostNetwork: true
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
        runAsGroup: 568
        runAsNonRoot: true
        runAsUser: 568
        seccompProfile:
          type: RuntimeDefault
      shareProcessNamespace: true

    service:
      app:
        controller: *app
        type: ClusterIP
        ports:
          http:
            port: *app-port
      code:
        controller: *app
        type: ClusterIP
        ports:
          http:
            port: &code-port 8888

    route:
      internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "home.${ROOT_DOMAIN}"
          - "${APP}.${ROOT_DOMAIN}"
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: app
                port: *app-port

      code-internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "${APP}-code.${ROOT_DOMAIN}"
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: code
                port: *code-port

    persistence:
      config:
        existingClaim: ${APP}
      deploy-key:
        type: secret
        name: home-assistant-ssh
        defaultMode: 256
        globalMounts:
          - path: /home/coder/.ssh/
            readOnly: true
      config-cache:
        type: emptyDir
        globalMounts:
          - path: /config/.venv
      config-logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      config-tts:
        type: emptyDir
        globalMounts:
          - path: /config/tts
      tmp:
        type: emptyDir
