---
localpv-provisioner:
  localpv:
    basePath: &basePath /var/mnt/extra/openebs/local
  hostpathClass:
    enabled: true
    name: openebs-hostpath
    isDefaultClass: true
    basePath: *basePath
openebs-crds:
  csi:
    volumeSnapshots:
      enabled: true
      keep: true
zfs-localpv:
  enabled: false
lvm-localpv:
  enabled: false
mayastor:
  enabled: false
  csi:
    node:
      kubeletDir: /var/mnt/longhorn ??
  localpv-provisioner:
    enabled: false
  crds:
    enabled: false
engines:
  local:
    lvm:
      enabled: false
    zfs:
      enabled: false
  replicated:
    mayastor:
      enabled: false
loki:
  enabled: false
alloy:
  enabled: false
minio:
  enabled: false
